.title {
	text-align: center
}
.container {
	position: relative;
	max-width: 800px;
	margin: auto;
}
.add-button {
	float: right;
	margin-bottom: 20px;
	padding: 10px 20px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	}
.add-button:hover {
	background-color: #218838;
}
.submit {
	background: #4CAF50;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	margin-top:20px
}

.submit:hover {
	background: #45a049;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}
.checkbox {
	width: 10% !important
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
th {
	background-color: #007bff;
	color: white;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
td {
	background: #f9f9f9;
	padding: 12px;
	font-size: 15px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}
tbody {
	cursor: pointer;
	
}
tr:hover {
	background-color: #f1f1f1;
}
h1,h2 {
	text-align: center;
	color: #333;
}
div {
	margin-top:15px
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input, select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}